# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore data files (if not meant for version control)
*.csv
*.xlsx
